<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="index.css">
<head>
    <meta charset="UTF-8">
    <title>HL Weiss Schwarz</title>
</head>
<script src="/webjars/jquery/jquery.min.js"></script>

<body>
<div id="mainContainer">
    <p id="mainText1">hololive</p>
    <div id="subContainer">
        <div id="mainText2">Weiss</div>
        <p id="mainText2_1">Schwarz</p>
    </div>
    <div class="line"></div>
    <p id="register"><a href="/register">register</a></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>